.headerWrapper {
  border: 1px solid #3f51b5;
  padding: 5px 25px;
}
.preloader{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.deleteButton {
  margin: 10px !important;
}
.searchButton {
  display: inline-flex;
  margin: 10px 20px 10px 10px !important;
a {
  text-decoration:  none;
  svg{
    position: relative;
    margin-left: 5px;
    padding: -5px;
    top: 5px;
  }
}

}

.nameLink:active, /* активная/посещенная ссылка */
.nameLink:hover,  /* при наведении */
.nameLink {
  text-decoration: none;
  color: #666;
}

.link { text-decoration: none}
